@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One");
* {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#name {
  width: 40vw;
  text-align: justify;
}

#title {
  background: url("./images/long.jpg");
  font-family: Alfa Slab One;
  /* color: black; */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: blue;
}

h1 {
  font-family: Alfa Slab One;
  text-align-last: justify;
  font-size: 9vw;
}
h4 {
  font-family: Alfa Slab One;
  margin-top: -10%;
  text-align: center;
  font-size: 5vw;
  /* color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black; */
}

#links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 2vw;
}

/* .fi-home {
  font-size: 72px;
} */
#about {
  height: 100vh;
  background-color: lightgreen;
  display: flex;
  align-items: center;
  justify-content: center;
}

#biopic {
  /* width: 100%; */
  height: auto;
}

#projects {
  height: 100vh;
  background-color: lightskyblue;
}

#contact {
  height: 100vh;
  background-image: url("./images/kindajean.png");
  font-family: Arial, Helvetica, sans-serif;
}

#contacttitle {
  margin: 5vw;
  margin-bottom: auto;
  margin-top: auto;
  font-weight: bolder;
}

#form {
  width: 80vw;
}

.shadow {
  box-shadow: 5px 5px 5px black;
}

.media-object {
  width: 80vw;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  margin: 5% 10%;
}
